<config>

    <interface hosts='SM_DC1*' address='10.11.1.x' netmask='255.255.255.128'/> 
    <interface hosts='SM_DC2*' address='10.11.2.x' netmask='255.255.255.128'/>  
    <interface hosts='SM_DC3*' address='10.12.1.x' netmask='255.255.255.128'/> 
    <interface hosts='SM_DC4*' address='10.12.2.x' netmask='255.255.255.128'/> 
    
   
    <interface hosts='DC1'  address='10.11.x.x' netmask='255.255.x.x'/> 
    <interface hosts='DC2'  address='10.11.x.x' netmask='255.255.x.x'/> 
    
    <interface hosts='DC3'  address='10.11.x.x' netmask='255.255.x.x'/> 
    <interface hosts='DC4'  address='10.12.x.x' netmask='255.255.x.x'/> 
    
    <interface hosts='s*' address='172.0.0.x' netmask='255.255.255.x'/>
    <interface hosts='SDNController' address='172.0.0.x' netmask='255.255.255.x'/>
    
    <interface hosts='RTU*' address='10.0.0.x' netmask='255.255.255.x'/>
    <interface hosts='DSO' address='10.0.0.x' netmask='255.255.255.x'/>
      
    
    
    <route hosts="SM*" destination="*" netmask="/0" gateway="*" metric="0" interface="eth0"/> 
    <route hosts="RTU*" destination="*" netmask="/0" gateway="*" metric="0" interface="eth0"/> 
    <route hosts="DSO*" destination="*" netmask="/0" gateway="*" metric="0" interface="eth0"/> 
    <route hosts="s*" destination="*" netmask="/0" gateway="*" metric="0" interface="eth0"/> 
    <route hosts="SDNController" destination="*" netmask="/0" gateway="*" metric="0" interface="eth0"/> 
    
    <route hosts="DC1" destination="10.0.0.0" netmask="/8"  metric="0" interface="eth0"/> 
    
    
     <route hosts="DC1" destination="10.0.0.0" netmask="/24" gateway="s6" metric="0"/>

</config>
